
<p>
  Le nom saisi est: {{ name.value }}  {{ prenom.value }}
</p>
<p>Le nom complet est {{nomcomplet}}</p>
<label>
  Nom:
  <input type="text" [formControl]="name">
</label>
<p>
<label>
  Prenom:
  <input type="text" [formControl]="prenom">
</label>
</p>
<p>
  <button (click)="updateName()">Mettre à jour</button>
</p>