<div class="container">
  <h2>{{title}}</h2>

  <div class="row">
    <div class="col-12 col-md-2">
      Votre nom:{{name.value}} &nbsp; {{firstname.value}}
    </div>
  </div>
  <form name="form" class="form-inline">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="nomid"> Nom:
          <input id="nomid" type="text" [formControl]="name" class="form-control">
        </label>
      </div>
      <div class="col-md-6 form-group">
        <label for="prenomid"> Prénom:
          <input id="prenomid" type="text" [formControl]="firstname" class="form-control">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button (click)="clear()" class="btn btn-primary">Effacer</button>
      </div>
      <div class="col-md-2">
        <button (click)="reset()" class="btn btn-danger">initialiser</button>
      </div>
    </div>
  </form>
  <router-outlet></router-outlet>
</div>
